.interprete-contenedor{
    width: 80%;
    border: 2px dotted cornflowerblue;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
}

.interprete-imagen{
    width: 20%;
}
